/* ---------------Box Sizing----------------- */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

/* ---------------Utility Classes----------------- */

.container{
  margin:auto;
  padding:40px;
}

/* ---------------Responsive Images----------------- */

img{
  max-width:100%;
  height:auto;
}

/* ---------------Global Sizing----------------- */

body {
    font-family: Agbalumo, san-serif;
    background-color:blanchedalmond;
}

main{
    background-color:cornflowerblue;
    width: 75vw;

    /* Long Form */
    margin-top:40px
    margin-right:auto
    margin-left:auto
    margin-bottom:40px

    /* 4 VAlue Shorthand T,R,B,L */
    margin:40px auto 40px auto;

    /* 2 Value Shorthand T/B, L/R */
    margin:40px auto;
    border:2px solid #161A59;
    border-radius:4px;
}

header.primary{
  background-color:chocolate;
  background-image:url(https://assets.codepen.io/7248/bg_1.png);
  /* Local Path
  backgroung-image: url("../img/bg_1.png")
  */
  background-size:cover;
  background-repeat:no-repeat;
  padding: 20px;
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  border-bottom: 3px solid crimson;
}

header.primary .hgroup{
  width:70%;
}

.hgroup h1, .hgroup h2{
  margin:0;
}

header.primary .hgroup h1 a{
  color:white;
  text-decoration:none;
  text-shadow: 1px 10px #000000;
  font-size: 2.4rem;
}

header.primary .hgroup h2{
  color:#ffffff;
  text-shadow: 1px 10px #000000;
  font-size:1.4rem;
}

header.primary nav{
  width:30%;
  margin:0;
}

header.primary nav ul{
  list-style-type:none;
  margin:0;
}

header.primary nav ul li{
  margin-bottom:10px;
}

header.primary nav a{
  color:#fff;
  text-decoration:none;
  background-color:rgba(0,0,0,.1);
  display:block;
  padding:10px;
  border-radius:20px 0;
  border:1px solid crimson;
  border-right:10px solid crimson;
  text-align:right;
}

#content h2, #content h3{
  color:darkslategrey;
  border-left:7.5px solid chocolate;
  border-radius:15px 0;
  padding:7.5px;
}

#blog.container {
  background-color: aquamarine;
  padding:20px 0;
  border-top: 6px double chocolate;
  border-bottom: 6px double chocolate;
}

#blog > h2{
  color:#ffffff;
  text-shadow: 2px 2px #000000;
  font-size: 2.2rem;
  margin-left: 20px;
}

article.post{
  background-color: #ffffff;
  margin:20px;
  padding:20px;
  display:grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
  "figure header"
  "figure post-content"
  "figure footer";
  grid-gap: 20px;
}

article.post figure{
  grid-area:figure
  margin:0;
}
article.post header{
  grid-area:header
}
article.post .post-content{
  grid-area:post-content
}
article.post .post-meta{
  grid-area:footer;
}

aside .container{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:20px
}

colophon{
  text-align: center;
    background-color: beige;
background-image: ;
padding: 20px;
color: #ffffff;
}